@{
    ViewBag.Title = "Recherche prêtre";
}
@using PagedList;
@using PagedList.Mvc;
@model ADA.Site.Models.RecherchePretreViewModel


@using (Html.BeginForm("Recherche", "Pretre", FormMethod.Get, htmlAttributes: new { name = "recherche" }))
{
    Html.RenderPartial("~/Views/Pretre/RechercheParNom/_ChampsRecherche.cshtml", Model);

    if (Model.Recherche) 
    { 
        if(Model.Resultats.Any())
        {

            <div class="row header-result">
                <div class="col-md-12">
                    @{ Html.RenderPartial("~/Views/Shared/_Pager.cshtml", Model.Resultats, new ViewDataDictionary { { "Action", "Recherche" }, { "FormName", "recherche" } }); }
                    <div class="header-result-item-right"> @{Html.RenderPartial("~/Views/Shared/_Tri.cshtml", Model);} </div>
                    <div class="header-result-item-right"> @{Html.RenderPartial("~/Views/Shared/_PaginationSelect.cshtml", Model.Pagination);} </div>
                    <div class="header-result-item-right">
                        <button id="genere-pdf" type="button" class="btn btn-secondary "><span class="pdfLink"></span></button>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <ul class="list-group list-selectable">
                        @foreach (var pretre in Model.Resultats)
                        {
                            <li class="list-group-item">
                                @{ Html.RenderPartial("~/Views/Pretre/Shared/_PretreItem.cshtml", pretre); }
                            </li>
                        }
                    </ul>
                </div>



            </div>
            <div class="row footer-result">
                <div class=" col-md-12">
                    @{Html.RenderPartial("~/Views/Shared/_Pager.cshtml", Model.Resultats, new ViewDataDictionary { { "Action", "Recherche" }, { "FormName", "recherche" } }); }
                </div>
            </div>
        }
        else
        {
            Html.RenderPartial("~/Views/Shared/_NoResult.cshtml");
        }
    }
}

@section Scripts {
    @Scripts.Render("~/Scripts/Custom/Pretre.js")
    @Scripts.Render("~/Scripts/Custom/Tri.js")
    @Scripts.Render("~/Scripts/Custom/Autocomplete.js")
    @Scripts.Render("~/Scripts/Custom/Pagination.js")
    @Scripts.Render("~/Scripts/Custom/Pager.js")
}

